<app-mainframe [title]="title">
    <form [formGroup]="leaderboardForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="datepicker-field">
            <input
              matInput
              [ngxMatDatetimePicker]="picker1"
              placeholder="Choose a start date"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker1)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
          </mat-form-field>
          
          <mat-form-field class="datepicker-field"> 
            <input
              matInput
              [ngxMatDatetimePicker]="picker2"
              placeholder="Choose an end date"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker2)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
          </mat-form-field>
      
        <div class="user-input-container">
          <app-autocomplete
            class="user-autocomplete"
            [label]="'Add Users'"
            [options]="userOptions"
            [selectedOptions]="selectedUsers"
            (selectedOptionsEmmiter)="handleUserSelect($event)"
          />
        </div>
      
        <button mat-raised-button color="primary" style="color: var(--text-color)">Submit</button>
    </form>
    <br>
</app-mainframe>
