.small-card {
  height: auto;
  width: 50rem;
}

.info{
  width:35rem;
}

.buttons{
  display:flex;
  flex-direction: column;
}

.small-card .info .description {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.profile-image-upload {
  margin-bottom: 50px;
  text-align: left;
}

.profile-circle {
  height:2rem;
  width: 2rem;
  margin-right:1rem;
  background-color: var(--sidebar-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}

.name-and-pic{
  display:flex;
  flex-direction: row;
  align-items: center;

}
