#outer-container {
  width: 100%;
  height: calc(100vh - var(--navbar-heigth));
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  //overflow: scroll;
  overflow: visible;
  background-color: transparent;
}

.icon {
  z-index: 1000;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  aspect-ratio: 1/1;
  margin: 1rem 0 1rem 0;
  transition: transform 0.2s ease-in;
  overflow: visible;
  img {
    width: 60%;
    aspect-ratio: 1/1;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(0.75);
    transform: scale(1.2);
  }
}
