.status-container {
  display: block;
  margin-top: 1rem;
  font-size: var(--text-md);
  margin-bottom: 2rem;

  .status {
    font-weight: bold;
  }

  .icon {
    transform: translateX(0.1rem) translateY(0.5rem);
    bottom: 0;
    font-size: 1rem;
    margin-left: 0.1rem;
  }
}
