<div class="outer-div">

  <div class="left-navbar-container">
    <mat-icon (click)="goBack()" class="arrow-right" aria-hidden="false" aria-label="Example home icon"
              fontIcon="arrow_back"/>
  </div>

  <div routerLink="/" id="app-name">HiBet</div>

  <div class="right-navbar-container">
    <img
      *ngIf="themeService.getCurrentTheme() === 'Light'"
      (click)="themeService.toggleTheme()"
      ngSrc="assets/icons/MoonSvgFE.svg"
      alt="moon-icon"
      height="50"
      width="50"
      class="moon"
    />
    <img
      *ngIf="themeService.getCurrentTheme() === 'Dark'"
      (click)="themeService.toggleTheme()"
      ngSrc="assets/icons/PantherSvgFE.svg"
      alt="panther-icon"
      height="50"
      width="50"
      class="panther"
    />
    <img
      (click)="router.navigate(['/prizes'])"
      ngSrc="assets/icons/gift-icon.svg"
      alt="prizes"
      height="50"
      width="50"
      class="nav-icon"
    />
    <app-navbar-user-account></app-navbar-user-account>
  </div>
</div>
