<app-mainframe [title]="pageTitle">
    <div class="search-container">
        <app-search-bar (valueChange)="search($event)" (onEnterPressed)="search($event)"></app-search-bar>
    </div>

    <div class="tag-container">
        <app-user-tag-btn>Football</app-user-tag-btn>
        <app-user-tag-btn>Football</app-user-tag-btn>
        <app-user-tag-btn>Football</app-user-tag-btn>
        <app-user-tag-btn>Football</app-user-tag-btn>
        <app-user-tag-btn>Football</app-user-tag-btn>
        <app-user-tag-btn>Football</app-user-tag-btn>
        <app-user-tag-btn>Football</app-user-tag-btn>
        <div class="add-icon-container">
            <mat-icon class="add-icon" (click)="openTagSelector()">add</mat-icon>
            <div *ngIf="tagSelectorOpened" class="select-tags-container">
                <mat-icon (click)="closeTagSelector()" class="close-icon">close</mat-icon>
                <app-tag> miau</app-tag>
            </div>
        </div>
    </div>
    
    <div *ngIf="competitionService.loading$" class="grid-container">
        <app-competition-card *ngFor="let competition of competitions" [competition]="competition" />
    </div>
</app-mainframe>
