.search-container {
    width: 30rem;
}

.add-icon-container {
    position: relative;
    display: inline;
    height: 100%;
}

.select-tags-container {
    position: absolute;
    top: -1rem;
    right: -2rem;
    background: var(--background-color);
    background: red;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: 30rem;
    height: 20rem;
    z-index: 2200;

    .close-icon {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
        transition: all var(--transition-duration) ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.add-icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% + 0px)) scale(1.2);
    transition: all var(--transition-duration) ease-in-out;

    &:hover {
        transform: translateY(calc(-50% + 0px)) scale(1.4);
    }
}
