<form [formGroup]="userGroupForm" (ngSubmit)="onSubmit()" class="app-form">
  <mat-form-field color="accent" appearance="outline">
    <mat-label>Group Name</mat-label>
    <input matInput type="text" formControlName="groupName">
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Add Users</mat-label>
    <mat-select multiple formControlName="users">
      <mat-option *ngFor="let user of userProfiles" [value]="user">{{user.username}}</mat-option>
    </mat-select>
  </mat-form-field>



  <button mat-raised-button color="primary" style="color: var(--text-color)" type="submit">Submit</button>
</form>
