<app-mainframe [title]="eventRequest.name">
  <div style="margin-bottom: 15px;">
    <img
      ngSrc="assets/icons/calendar-icon.svg"
      alt="calendar"
      height="18"
      width="32"
      style="vertical-align: middle;"
    />
   Starts on: {{ eventRequest.startsAt | date }}
  </div>
  <mat-chip-listbox>
    <mat-chip *ngFor="let tag of eventRequest.tags">
      {{ tag }}
    </mat-chip>
  </mat-chip-listbox>
  <div style="margin-top: 30px;">
    {{eventRequest.description}}
  </div>
</app-mainframe>
