<app-mainframe title="Prize extractions">
  <button mat-raised-button color="primary" style="color: var(--text-color)">Start new prize draw</button>
  <div class="extraction-selector">
    <button
      [ngClass]="isActiveExtractionsSelected ? 'selected' : ''"
      (click)="handleActiveDrawsFetch()"
    >Active draws</button>
    <button
      [ngClass]="!isActiveExtractionsSelected ? 'selected' : ''"
      (click)="handlePastDrawsFetch()"
    >Past draws</button>
  </div>
  <div class="spinner-container" *ngIf="prizeDraws.loading">
    <div class="lds-dual-ring"></div>
  </div>
  <div class="message-text" *ngIf="prizeDraws.error">Something went wrong.</div>
  <div class="message-text" *ngIf="prizeDraws.entity.length === 0 && !prizeDraws.loading">No draws found.</div>
  <app-prize-list [prizeDrawList]="prizeDraws.entity"></app-prize-list>
</app-mainframe>
