p {
  text-indent: 0;
}

.outer-container {
  display: flex;
  flex-direction: column;
  width: clamp(500px, 50%, 1200px);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.75rem;
  img {
    margin-right: 0.5rem;
  }
}

.description {
  box-sizing: border-box;
  margin: 1rem 0 1rem 0;
  div {
    font-weight: bold;
    font-size: var(--text-sm);
  }
}

.entries {
  div {
    font-weight: bold;
    font-size: var(--text-sm);
    margin-bottom: 0.75rem;
  }
}

.admin-area {
  p {
    font-weight: bold;
    font-size: var(--text-sm);
  }
  .admin-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      margin-right: 0.5rem;
      color: var(--text-color);
      font-size: 1rem;
      padding: clamp(6px, 1em, 30px);
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    .admin-buttons-container {
      display: flex;
      flex-direction: column;
      button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
        color: var(--text-color);
      }
    }
  }
}
