#bet-list-container {
  display: flex;
  flex-direction: column;
  mat-form-field {
      width: 100%;
  }
}

.bet-name-container {
  display: flex;
  align-items: center;
  mat-form-field {
    flex: 1;
  }
  mat-icon {
    transform: scale(1.5);
    position: relative;
    bottom: 0.55rem;
    margin-left: 0.5rem;
    display: block;
    color: white;
    &:hover {
      cursor: pointer;
      filter: brightness(80%);
    }
  }
}
.delete-bet-button {
  display: none;
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  .bet-name-container {
    display: flex;
    flex-direction: column;
    mat-form-field {
      flex: 2;
    }
    mat-icon {
      display: none;
    }
  }
  .delete-bet-button {
    display: flex;
  }
}
