<app-mainframe [title]="'Create event template'">
  <form class="app-form" [formGroup]="templateFormGroup">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Event template name</mat-label>
      <input formControlName="name" matInput placeholder="Football match" value="">
    </mat-form-field>
    <div *ngIf="betTemplates.length > 0" style="height: 2.5rem"></div>
    <div formArrayName="betTemplates" id="bet-list-container">
      <div *ngFor="let betTemplate of betTemplates.controls; let i=index" [formGroupName]="i">
        <div class="bet-name-container">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Bet name</mat-label>
            <input matInput placeholder="Red cards" value="2" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Bet type</mat-label>
            <mat-select panelClass="select-dropdown" formControlName="type">
              <mat-option value="NUMERIC">Numeric</mat-option>
              <mat-option value="MULTIPLE_CHOICE">Multiple choice</mat-option>
              <mat-option value="BOOLEAN">Boolean</mat-option>
              <mat-option value="STRING">Text</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon color="warn" fontIcon="delete" (click)="removeBetTemplate(i)"></mat-icon>
        </div>
        <button
          type="button"
          mat-stroked-button
          color="primary"
          class="delete-bet-button"
          (click)="removeBetTemplate(i)">Delete
        </button>
        <div *ngIf="i !== betTemplates.length - 1" style="height: 1.5rem"></div>
      </div>
      <div style="height: 2rem"></div>
    </div>
    <button
      type="button"
      mat-raised-button
      color="accent"
      style="color: white"
      (click)="addBetTemplate()">Add bet
    </button>
    <button
      type="button"
      mat-raised-button color="primary"
      style="color: var(--text-color)">Submit
    </button>
  </form>
</app-mainframe>
