
<app-mainframe [title]="'Create event template'">
    <form class="app-form" [formGroup]="templateFormGroup">

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Event template name</mat-label>
        <input [formControlName]="'name'" matInput placeholder="Football match" value="Sushi">
      </mat-form-field>

      <div formArrayName="betTemplates" id="bet-list-container">
        <div *ngFor="let betTemplate of betTemplates.controls; let i=index" [formGroupName]="i">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Bet type</mat-label>
            <mat-select panelClass="select-dropdown" formControlName="type">
              <mat-option value="NUMERIC">Numeric</mat-option>
              <mat-option value ="MULTIPLE_CHOICE">Multiple choice</mat-option>
              <mat-option value="BOOLEAN">Boolean</mat-option>
              <mat-option value="STRING">Text</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>



      <button
        type="button"
        mat-raised-button
        color="accent"
        style="color: white"
        (click)="addBetTemplate()">Add bet</button>
      <button type="button" mat-raised-button color="primary" style="color: var(--text-color)">Submit</button>
    </form>
</app-mainframe>
