<app-mainframe [title]="'Edit ' + formData.name">
  <form class="app-form" (ngSubmit)="submitForm()" #eventForm="ngForm">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Event Name</mat-label>
      <input
        name="eventName"
        matInput
        placeholder="{{ formData.name || 'Ex. Event Name' }}"
        [(ngModel)]="formData.name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Description</mat-label>
      <textarea
        name="description"
        matInput
        placeholder="{{ formData.description || 'Ex. Event Description' }}"
        [(ngModel)]="formData.description"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Starts At</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="startsAtPicker"
        name="startsAt"
        placeholder="Select a date and time"
        [(ngModel)]="formData.startsAt"
        required
        [min]="minStartsAtDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(startsAtPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #startsAtPicker></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Ends At</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="endsAtPicker"
        name="endsAt"
        placeholder="Select a date and time"
        [(ngModel)]="formData.endsAt"
        required
        [min]="formData.startsAt"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(endsAtPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #endsAtPicker></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Status</mat-label>
      <mat-select
        [(ngModel)]="formData.status"
        name="selectedStatus"
        panelClass="select-dropdown"
      >
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!eventForm.valid"
      style="color: var(--text-color)"
    >
      Submit
    </button>

    <div *ngIf="isLoading" class="lds-dual-ring-container">
      <div class="lds-dual-ring"></div>
    </div>
    <div
      *ngIf="errorMessage"
      class="form-error-message"
      style="margin: 0 0 1rem 0"
    >
      {{ errorMessage }}
    </div>
  </form>
</app-mainframe>
