<app-mainframe [title]="'Create an event'">
  <form class="app-form" (ngSubmit)="submitForm()" [formGroup]="eventForm">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Event Template</mat-label>
      <mat-select panelClass="select-dropdown">
        <mat-option
          *ngFor="let template of eventTemplates"
          [value]="template.name"
        >
          {{ template.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="section-title">General information</div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Event Name</mat-label>
      <input
        name="eventName"
        matInput
        placeholder="Ex. Event Name"
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Description</mat-label>
      <textarea
        name="description"
        matInput
        placeholder="Ex. Event Description"
        formControlName="description"
        required
      ></textarea>
    </mat-form-field>

    <div class="section-title">Participants</div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>User Groups</mat-label>
      <mat-select
        formControlName="userGroups"
        [multiple]="true"
        panelClass="select-dropdown"
      >
        <mat-option *ngFor="let group of userGroupsList" [value]="group">{{
          group
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>User Profiles</mat-label>
      <mat-select
        formControlName="userProfiles"
        [multiple]="true"
        panelClass="select-dropdown"
      >
        <mat-option
          *ngFor="let profile of userProfilesList"
          [value]="profile.userId"
          >{{ profile.username }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="section-title">Time</div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Starts At</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="startsAtPicker"
        [min]="minStartsAtDate"
        name="startsAt"
        placeholder="Select a date and time"
        formControlName="startsAt"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(startsAtPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #startsAtPicker></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Ends At</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="endsAtPicker"
        name="endsAt"
        [min]="eventForm.get('startsAt')?.value"
        placeholder="Select a date and time"
        formControlName="endsAt"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(endsAtPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #endsAtPicker></ngx-mat-datetime-picker>
    </mat-form-field>

    <div class="bets-container">
      <div class="section-title">Bets</div>
      <app-bet-type-form formControlName="completeBetTypeDtoList"></app-bet-type-form>
    </div>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Status</mat-label>
      <mat-select
        panelClass="select-dropdown"
        formControlName="status"
      >
        <mat-option *ngFor="let status of statusOptions" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!eventForm.valid"
    >
      Submit
    </button>
  </form>
</app-mainframe>
