.app-form {
  padding-top: .3rem;
}

.section-title {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 1.4rem;
  font-weight: bold;
}

.bets-container {
  margin-bottom: 2rem;
}
