<div id="bet-template-outer-div">
  <p style="font-size: 25px">{{betTemplate?.name}}</p>
  <p>{{betTemplate?.type}}</p>
  <div *ngIf="betTemplate?.type === BetTemplateType.MULTIPLE_CHOICE" style="height: 50px">
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selectedOption">
        <mat-option *ngFor="let option of betTemplate?.multipleChoiceOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
