.content{
    margin-top: 10px;
}

.custom-line {
    width: 90%;
    height: 2px;
    background: var(--background-color); 
    border-radius: 2px; 
    margin: 0 auto 20px auto; 
  }

.title{
  font-size: 19px;
  font-weight: bold; 
}

.title-bet{
  font-size: 18px;
  font-weight: bold;
}

