<app-mainframe title="Create Competition">
    <form class="app-form" [formGroup]="competitionForm">
        <mat-form-field color="accent" appearance="outline" class="first-field">
            <mat-label>Competition name</mat-label>
            <input formControlName="name" matInput placeholder="World Championship" value="">
        </mat-form-field>
        
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Competition Description</mat-label>
            <textarea formControlName="name" matInput placeholder="World Championship" value=""></textarea>
        </mat-form-field>
        <app-autocomplete [label]="'Add Users'" [options]="userOptions" (selectedOptionsEmmiter)="handleUserSelect"  />
        <app-autocomplete [label]="'Add User Groups'" [options]="userGroupOptions" (selectedOptionsEmmiter)="handleUserGroupSelect"  />
        <app-autocomplete [label]="'Add Events'" [options]="eventOptions" (selectedOptionsEmmiter)="handleEventSelect"  />   
    </form>
    
    <!-- form for:
    -status -->
</app-mainframe>
