<div class="user-tag-container" (click)="onClick()">
  <div class="content">
    <ng-content></ng-content>
  </div>

  <span *ngIf="functionality === 'remove'" class="icon">
    <mat-icon>close</mat-icon>
  </span>

  <span *ngIf="functionality === 'add'" class="icon">
    <mat-icon>add</mat-icon>
  </span>
  <div class="tooltip-content" *ngIf="isUser">
    <div class="profile-image-upload" *ngIf="profilePicture">
      <div [id]="'profile-circle-' + userId" class="profile-circle"></div>
    </div>
    <p>
      <b>{{ name }}</b>
    </p>
    <p>{{ description }}</p>
  </div>
</div>
