.user-tag-container {
  position: relative;
  display: inline-block;
  background-color: var(--accent-color-two);
  font-size: var(--text-sm);
  padding: 0.4rem 1rem;
  border-radius: var(--border-radius);
  margin-right: 1.2rem;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    .content,
    .tooltip-content {
      opacity: 0;
    }

    .icon,
    .tooltip-content {
      opacity: 1;
    }
  }

  .icon {
    position: absolute;
    opacity: 0;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(calc(-50% + 2px));
  }

  .tooltip-content {
    position: absolute;
    opacity: 0;
    bottom: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%, -10px); 
    background-color: var(--sidebar-color);
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    z-index: 10;
    white-space: nowrap;
    pointer-events: none;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: 150px; 
  }
}

.profile-image-upload {
  margin-bottom: 1%; 
  text-align: center; 
}

.profile-circle {
  width: 150px;
  height: 150px;
  background-color: var(--sidebar-color);
  border-radius: 50%;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}

input[type="file"] {
  display: none;
}

.profile-content {
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

