<div style="width: 100%; background-color: var(--sidebar-color)">
  <app-navbar></app-navbar>
</div>
<div
  style="
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--navbar-heigth));
  "
>
  <div
    style="
      width: 3rem;
      min-height: 100%;
      background-color: var(--sidebar-color);
    "
  ></div>
  <div style="width: calc(100% - 20rem)">
    <router-outlet></router-outlet>
  </div>
  <div
    style="
      width: 17rem;
      min-height: 100%;
      background-color: var(--sidebar-color);
    "
  ></div>
</div>
