<form class="styled-form" style="margin-bottom: 15px">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Select an option:</mat-label>
      <mat-select [(ngModel)]="selectedOption">
        <mat-option *ngFor="let option of betType?.options" [value]="option">{{
          option
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Bet amount:</mat-label>
    <input matInput [(ngModel)]="betAmount" />
  </mat-form-field>
  <button
    mat-raised-button
    style="margin-left : 10px; padding-top: 26px; padding-bottom: 26px;:  "
    color="primary"
  >
    Place Bet
  </button>
</form>
