<div id="outer-div">
  <form [formGroup]="addBetTemplateForm" (ngSubmit)="submitForm()">
    <p style="font-size: 1.3rem">Add a bet template</p>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Template name</mat-label>
      <input class="work" formControlName="name" matInput placeholder="Ex. Red cards" value="">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Panel color</mat-label>
      <mat-select [formControl]="panelColor"
                  panelClass="card-color-dropdown">
        <mat-option value="red">Red</mat-option>
        <mat-option value="green">Green</mat-option>
        <mat-option value="blue">Blue</mat-option>
      </mat-select>
    </mat-form-field>


    <div *ngIf="selectedOption === 'Multiple choice'">
      <p>Options</p>
      <mat-form-field appearance="outline" *ngFor="let control of this.choices.controls; index as i">
        <mat-label>{{'Option ' + (i+1)}}</mat-label>
        <input
          matInput placeholder="Ex. Some cool option"
          value=""
          [formControl]="$any(control)"
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        id="add-template-button"
        (click)="addChoice()">Add Template</button>
    </div>
    <button mat-raised-button style="color: white; margin-bottom: 10px; width: 100%" color="accent">Submit</button>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </form>
</div>
