form {
  margin-top: 4rem;
  //margin-left: 4rem;
}

.username-field {
  display: block;
  width: 25%; /* sau orice altă valoare mai mică decât 100% */
  margin-bottom: 10px;
}

.description-field {
  display: block;
  width: 40%;
  margin-bottom: 10px;
}

button {
  background-color: var(--accent-color-one);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-right: 20px;
}

.profile-image-upload {
  margin-bottom: 50px;
  text-align: left;
  width: fit-content;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  .edit-icon {
    pointer-events: none;
    position: absolute;
    scale: 1.5;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    .profile-circle{
      filter: brightness(0.5);
    }
    .edit-icon {
      opacity: 1;
    }
  }
}

.profile-circle {
  width: 175px;
  height: 175px;
  position: relative;
  background-color: var(--sidebar-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  transition: filter 0.2s ease-in-out;
}

input[type="file"] {
  display: none;
}
