<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">

  <div class="profile-image-upload">
    <mat-icon class="edit-icon" fontIcon="edit"></mat-icon>
    <input
      type="file"
      id="profileImage"
      (change)="onFileSelect($event)"
      hidden
      accept="image/*"
    />
    <label for="profileImage">
      <div class="profile-circle"></div>
    </label>
  </div>

  <button
    mat-raised-button
    color="primary"
    class="avatar-button"
    style="color: var(--text-color)"
    type="button"
    (click)="onAddAvatar()"
  >
    Add avatar
  </button>

  <mat-form-field color="accent" appearance="outline" class="username-field">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" />
    <mat-error
      *ngIf="userProfileForm.get('username')?.hasError('usernameTaken')"
    >
      Username is already taken.
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline" class="description-field">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" formControlName="description"></textarea>
  </mat-form-field>

  <div style="margin-bottom: 1rem">
    <button
      mat-raised-button
      class="end-button"
      color="primary"
      style="color: var(--text-color)"
      type="submit"
      [disabled]="!userProfileForm.valid"
    >
      Submit
    </button>
    <button
      mat-raised-button
      class="end-button"
      color="accent"
      style="color: var(--text-color)"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
  <div class="lds-dual-ring" *ngIf="isLoading"></div>
</form>
