<mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
        <mat-card-title class="mat-card-title">Event</mat-card-title>
    </mat-card-header>

    <div class="tags-container">
        <app-tag>Event</app-tag>
    </div>

    <mat-card-content class="mat-card-content">
        <p>In the heart of a buzzing football stadium, the anticipation reached a fever pitch as Argentina and France faced off in a highly awaited international friendly match. The atmosphere was electric, with fans draped in the colors of their respective flags, creating a sea of blue and white for Argentina and a wave of blue, white, and red for France.</p>
    </mat-card-content>
</mat-card>
