<mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
        <mat-card-title class="mat-card-title">{{event.name}}</mat-card-title>
        <div>
            <mat-icon (click)="emitViewClick()" class="icon-hover">open_in_new</mat-icon>
            <mat-icon (click)="emitEditButtonClick()" class="icon-hover">edit</mat-icon>
            <mat-icon (click)="emitDeleteButtonClick()" class="icon-hover">delete</mat-icon>
        </div>
    </mat-card-header>

    <div class="tags-container">
        <app-tag>Event</app-tag>
        <app-tag *ngFor="let tag of event.tags">{{tag}}</app-tag>
    </div>

    <mat-card-content class="mat-card-content">
        <p>{{event.description}}</p>
    </mat-card-content>
</mat-card>
