<mat-card class="mat-card" (click)="this.viewEmitter.emit()">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">{{ event?.name }}</mat-card-title>
    <div *ngIf="showButtons">
      <mat-icon
        (click)="this.viewEmitter.emit()"
        class="icon-hover"
        appClickStopPropagation
        >open_in_new</mat-icon
      >
      <mat-icon
        (click)="this.editEmitter.emit()"
        class="icon-hover"
        appClickStopPropagation
        >edit</mat-icon
      >
      <mat-icon
        (click)="this.deleteEmitter.emit()"
        class="icon-hover"
        appClickStopPropagation
        >delete</mat-icon
      >
    </div>
  </mat-card-header>

  <div class="tags-container">
    <div class="tag">Event</div>
    <div class="tag" *ngFor="let tag of event?.tags">{{ tag }}</div>
  </div>

  <mat-card-content class="mat-card-content">
    <p>{{ event?.description }}</p>
  </mat-card-content>
</mat-card>
