.mat-elevation-z8 th,
.mat-elevation-z8 td {
  text-align: center;
  background-color: var(--sidebar-color); 
}


.mat-elevation-z8 th {
  background-color: var(--lighter-background-color);
}

.mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
}
