.table-container {
  display: flex;
  justify-content: flex-start; 
  padding-right: 40%; 
}

.mat-elevation-z8 th{
  text-align: center;
  background-color: var(--lighter-background-color);
}
.mat-elevation-z8 td {
  text-align: center;
  background-color: var(--sidebar-color); 
  
}

.mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
}

.table-container {
  display: flex;
  justify-content: flex-start; 
  padding-right: 40%; 
}

.mat-elevation-z8 th {
  text-align: center;
  background-color: var(--lighter-background-color);
}

.mat-elevation-z8 td {
  text-align: center;
  background-color: var(--sidebar-color); 
}

.mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
}

.first-place td {
  background-color: var( --navbar-color) !important; 
}



