<div style="width: 100%">
  <mat-form-field color="accent" appearance="outline" class="mat-form-field">
    <mat-label>{{label}}</mat-label>
    <input type="text"
            placeholder="Pick one"
            aria-label="Add users"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keydown.enter)="addItem()">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async; track option" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="addItem()">Add</button>
  <app-user-tag-btn [id]="i" (clickEvent)="removeItem($event)" *ngFor="let option of selectedOptions; let i = index">
    {{option}}
  </app-user-tag-btn>
</div>
