<div style="width: 100%; margin-bottom: 0.1rem">
  <mat-form-field color="accent" appearance="outline" class="mat-form-field">
    <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Add users"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      (keydown.enter)="addItem()"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
        >{{ option }}</mat-option
      >
    </mat-autocomplete>
  </mat-form-field>
  <button type="button" (click)="addItem()">Add</button>
  <ng-container *ngFor="let option of chips; let i = index">
    <ng-container *ngIf="userProfiles[option]; else noProfile">
      <app-user-tag-btn
        [id]="i"
        [name]="option"
        [profilePicture]="userProfiles[option].profilePicture ?? 0"
        [description]="userProfiles[option].description ?? ''"
        [userId]="userProfiles[option].userId ?? 0"
        (clickEvent)="removeItem($event)"
      >
        {{ option }}
      </app-user-tag-btn>
    </ng-container>
    <ng-template #noProfile>
      <app-user-tag-btn
        [id]="i"
        [name]="option"
        (clickEvent)="removeItem($event)"
      >
        {{ option }}
      </app-user-tag-btn>
    </ng-template>
  </ng-container>
</div>
