.mat-form-field {
  width: 70%;
}

button {
  width: 25%;
  margin-left: 5%;
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--accent-color-one);
  border-radius: var(--border-radius);
  padding: 0.6em 0;
  font-size: clamp(14px, 1rem, 20px);
  border: none;
  transition: all ease-in-out var(--transition-duration);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
