<div (click)="openAlertBox()" class="outer-div" appClickStopPropagation>
  <img
    ngSrc="assets/icons/chips-icon.svg"
    alt="credits"
    height="26"
    width="40"
    style="margin-left: 0.75rem"
  />
  <div id="user-credits">{{ userProfile?.coins }}</div>
  <app-profile-image
    [image]="blob"
  >
  </app-profile-image>
</div>

<div *ngIf="this.isLoggedIn">
  <app-account-page-user-profile
    *ngIf="showAlertBox"
    [@fadeInOut]=""
    [username]="userProfile?.username"
    [description]="userProfile?.description"
    [profilePicture]="userProfile?.profilePicture"
    (edit)="onUserProfileEdit()"
    (logout)="onLogout()"
    (cancel)="onCancel()"
  >
  </app-account-page-user-profile>
</div>

<div *ngIf="!this.isLoggedIn">
  <app-login-alert
    *ngIf="showAlertBox"
    [@fadeInOut]=""
    (login)="onLogin()"
    (cancel)="onCancel()"
  ></app-login-alert>
</div>
