<div (click)="openAlertBox()" class="outer-div">
  <img
    ngSrc="assets/icons/chips-icon.svg"
    alt="credits"
    height="26"
    width="40"
    style="margin-left: 10px"
  />
  <p id="user-credits">{{userProfile?.coins}}</p>
  <div id="account-image"></div>
</div>

<app-account-page-user-profile 
  [username]="userProfile?.username?.toString()"
  [userId]="userProfile?.userId"
  [profilePicture]="userProfile?.profilePicture"
  *ngIf="showAlertBox" 
  (edit)="onUserProfileEdit()"
  (logout)="onLogout()">
</app-account-page-user-profile>
