<div (click)="openAlertBox()" class="outer-div">
  <img
    ngSrc="assets/icons/chips-icon.svg"
    alt="credits"
    height="26"
    width="40"
    style="margin-left: 10px"
  />
  <p id="user-credits">{{ userProfile?.coins }}</p>
  <div id="account-image"></div>
</div>

<div *ngIf="this.isLoggedIn">
  <app-account-page-user-profile
    *ngIf="showAlertBox"
    [username]="userProfile?.username?.toString()"
    [profilePicture]="userProfile?.profilePicture"
    (edit)="onUserProfileEdit()"
    (logout)="onLogout()"
    (cancel)="onCancel()"
  >
  </app-account-page-user-profile>
</div>

<div *ngIf="!this.isLoggedIn">
  <app-login-alert
    *ngIf="showAlertBox"
    (login)="onLogin()"
    (cancel)="onCancel()"
  ></app-login-alert>
</div>
