@import "./../../themes/_variables";

.alert-box {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22rem;
  box-sizing: border-box;

  background-color: var(--navbar-color);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: .75rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .username {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .description {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
  }
  .alert-box-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      box-sizing: border-box;
      padding: .7rem;
      font-size: clamp(12px, 0.8rem, 20px);
      border-radius: 5px;
      width: fit-content;
      cursor: pointer;
      font-weight: bold;
      margin: .75rem 0;
    }
    button:first-child {
      margin-right: 1rem;
    }
    button:not(:last-child) {
      margin-right: 1rem;
    }
  }
  @media (max-width: $mobile-threshold) {
    .alert-box-actions {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      button {
        width: 100%;
        height: 2.5rem;
        margin: 0;
        padding: 0
      }
      button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

.profile-circle {
  width: 12rem;
  aspect-ratio: 1/1;
  background-color: var(--sidebar-color);
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

input[type="file"] {
  display: none;
}
