<div class="backdrop"></div>
<div class="alert-box">
    <h2>Account</h2>
    <div class="profile-content">
    <div class="profile-image-upload">
        <div class="profile-circle"></div>
    </div>
    <h2 class="username">{{username}}</h2>
    </div>
    <div class="alert-box-actions">
        <button mat-raised-button color="primary" style="color: var(--text-color)" (click)="onHandleEdit()">Edit Profile</button> 
        <button mat-raised-button color="primary" style="color: var(--text-color)" (click)="onLogout()">Logout</button>
    </div>
</div>
