.tag-container {
    display: inline-block;
    background-color: var(--accent-color-two);
    font-size: var(--text-sm);
    padding: 0.4rem 1rem;
    border-radius: var(--border-radius);
    margin-right: 1.2rem;
}