/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Raleway:wght@400;500;600;700&display=swap');
@import 'app/themes/themes';
:root {
  --background-color: white;
  --lighter-background-color: #2C2C4A;
  --sidebar-color: #191928;
  --navbar-color: #543864;
  --card-color: #191933;
  --accent-color-one: #D78484;
  --accent-color-two: #E4BA84;
  --text-color: #FFFFFF;

  --font-fredoka: 'Fredoka', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;

  --box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
}

.dark {
  --background-color: #202040;
  --lighter-background-color: #2C2C4A;
  --sidebar-color: #191928;
  --navbar-color: #543864;
  --card-color: #191933;
  --accent-color-one : #D78484;
  --accent-color-two: #E4BA84;
  --text-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: var(--font-josefin);
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: red; /* Change the background color here */
}
