/* You can add global styles to this file, and also import other style files */

html, body {
  --primary-color: #435585;
  --secondary-color: #818FB4;
  --background-color: #363062;
  --text-color: #F5E8C7;

  height: 100%;

  background-color: var(--background-color);
  color: var(--text-color);
}

.light {
  --primary-color: #F7EFE5;
  --secondary-color: #C3ACD0;
  --background-color: #FFFBF5;
  --text-color: #7743DB;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
