#outer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#add-event-template-button {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  padding: 1em;
  color: var(--text-color);
}

app-event-template-list {
  width: 100%;
}
